---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Alvaro Monsalves.">
	<main>
		<header>
			<!-- representa un grupo de ayudas introductorias o de navegación. Puede contener algunos elementos de encabezado, así como también un logo, un formulario de búsqueda, un nombre de autor y otros componentes. -->
			<h1>Pagina hecha por: Alvaro Monsalves</h1> <!-- seccion para escribir texto -->
			<h2>
				-En este proyecto de Redes practicamos funciones ligadas a
				astro, y las funciones basicas a la hora de crear una pagina
			</h2>
			<h3>
				- En esta pagina podran conocerme mediante la pestaña sobre mi,
				saber mis redes en Contactos, y en ¿Porque esto? el porque hice
				esta Pagina
			</h3>
			<h4>- Espero que este bien</h4>
		</header>

		<style> /* aca se estilizan los elementos anteriores */
			h1 {
				font-size: x-large;
				text-align: center;
				font-style: italic;
			}
			h2 {
				font-size: large;
				text-align: left;
				font-style: normal;
				margin-top: 50px;
				margin-right: 200px;
			}
			h3 {
				font-size: large;
				text-align: left;
				font-style: normal;
				margin-top: 50px;
				margin-right: 200px;
			}
			h4 {
				font-size: large;
				text-align: left;
				font-style: normal;
				margin-top: 50px;
				margin-right: 200px;
			}
		</style>
	</main>
</Layout>
