---
import Layout from "../layouts/Layout.astro";
---

<Layout title="nose">
    <body>
        <main>
            <h1>¿Porque esta pagina?</h1>
            <h2>-Esta pagina esta hecha para aprobar redes.</h2>
        </main>
    </body>

    <style>
        h1 {
            font-size: medium;
            text-align: center;
            font-style: italic;
        }
        h2 {
            font-size: large;
            text-align: left;
            font-style: normal;
            margin-top: 100px;
            margin-right: 200px;
        }
        body {
            background-color: gray;
        }
    </style>
</Layout>
